extends ../layout.pug

block content
  - const errorMessages = Object.values(authFormErrors)
  - const isFormInvalid = Boolean(errorMessages.length)

  main
    h1.visually-hidden Авторизация пользователя
    section
      .popup.popup--registration.popup--anti
        a.popup__button.button.button--popup-close(href='/' aria-label='Закрыть окно') Закрыть окно
        h2.popup__title Войти
        .popup__form.form.form--log-in
          form(method='post' enctype='multipart/form-data' autocomplete='off')
            .form__field
              label
                input(type='text' name='email' value=authFormData.email placeholder='Электронная почта')
            .form__field
              label
                input(type='password' name='password' placeholder='Пароль')

            if isFormInvalid
              +errorList(errorMessages, `При входе произошли ошибки:`)

            button.form__submit-btn.form__submit-btn--log-in.button.button--colored(type='submit') Войти
