mixin headerLogo(errorCode)
  -
    const isError = Boolean(errorCode);
    const logoErrorClass = `header__logo--${errorCode}`;
    const source = isError ? `/img/icons/logo.svg` : `/img/icons/logo-image-only.svg`;

  a.header__logo.logo(class={[logoErrorClass]: isError} href='/')
    img(class={logo__image: !isError} src=source alt='логотип Типотеки')
    if !isError
        span.logo__name Типотека

header.header(class={[`header--error`]: !!errorCode})
  +headerLogo(errorCode)
  nav.header__nav
    ul.header__nav-list
      li.header__list-item
        a.header__registration(href='/register') Регистрация
      li.header__list-item
        a.header__enter(href='/login') Вход с паролем
  a.header__search.button.button--search(href='/search' aria-label='поиск по сайту')

