# Файлы и директории операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/
coverage/

# Директория с собранными файлами проекта
build/

# Директория с загруженными изображениями
src/express/upload/

# Файлы с переменными окружения
*.env

# Моковые данные
mocks.json
