extends ../layout.pug

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p.
      Здесь можно обсуждать всё
      <br />
      &#x1F3AC;
      &#x1F4F7;
      &#x1F3BB;
      &#x1F3AD;
      &#x1F3A8;
      &#x1F3B1;
      &#x26BD;
      &#x1F384;
      &#x1F680;
      &#x1F682;
      &#x1F340;

    .main-page__empty-wrapper
      p.main-page__empty-text Здесь пока пусто!
