mixin categoryTab(category, isActive)
  - const href = !isActive ? `/articles/category/${category.id}` : undefined
  li.themes__item
    a.themes__item-link(class={[`themes__item-link--active`]: isActive} href=href)
      = category.name
      //- sup  #{category.count}
      sup  #{0}
