extends ./layout.pug

block content
  main
    h1.visually-hidden Ошибка #{error.code}
    section.error(class=`error--${error.code}`)
      h2.error__title.title.title--big= error.title
      if error.text
        p.error__text.text.text--big= error.text
      a.error__link.text.text--big(href='/') Вернуться на главную
