extends ./layout.pug

block content
  main
    h1.visually-hidden Ошибка #{errorCode}
    section.error(class=`error--${errorCode}`)
      h2.error__title.title.title--big= errorMessage
      if errorText
        p.error__text.text.text--big= errorText
      a.error__link.text.text--big(href='/') Вернуться на главную
